.single-task{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px ;
    border: 2px solid #ddd;
    border-radius: 5px;
    margin: 30px 0px;
    cursor: pointer;
    position: relative;
    min-height: 70px;
    transition: all 0.1s ease;
}
.single-task:hover{
    border: 2px solid rgba(0,0,0,0.6);
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.single-task.selected{
    border: 2px solid darkred;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.hover-content{
    position: absolute;
    top: -20px;
    right: 20px;
    display: flex;
    gap: 15px;
    display: none;
}
.hover-content-second{
    display: flex;
    gap: 15px;
}
.hover-content-second div{
    position: relative;
    border: 2px solid grey;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    transition: all 0.2s ease;
    border-radius: 50%;
}
.hover-content-second div:hover{
    border: 2px solid darkred;
}
.single-task:hover .hover-content{
    display: block;
}
.single-task-left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 12px;
}
.single-task-left p{
    font-weight: 500;
}
.single-task p{
    margin: 0;
}

.task-edit-button{
    color: #2BC48A;
}
.delete-task-button{
    color: #407093;
}

.selection-icon{
    border: 2px solid grey;
    width: 35px;
    height: 35px;
    display: none;
    justify-content: center;
    align-items: center;
    background: white;
    transition: all 0.2s ease;
    border-radius: 50%;
    position: absolute;
    top: -20px;
    left: -10px;
}
.single-task:hover .selection-icon{
    display: flex;
}
.selection-icon:hover{
    background: darkcyan;
    color: white;
}

.check-icon{
    pointer-events:none;
}