.single-task{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px ;
    border: 2px solid #ddd;
    border-radius: 5px;
    margin: 30px 0px;
    cursor: pointer;
    position: relative;
    min-height: 70px;
    /* transition: all 0.1s ease; */
}
.single-task:hover{
    border: 2px solid rgba(0,0,0,0.6);
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.single-task.selected{
    border: 2px solid #90B8F3;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    background: #90B8F3;
}
.hover-content{
    position: absolute;
    top: -20px;
    right: 20px;
    display: flex;
    gap: 15px;
    display: none;
}
.hover-content-second{
    display: flex;
    gap: 15px;
}
.hover-content-second div{
    position: relative;
    border: 2px solid grey;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    transition: all 0.2s ease;
    border-radius: 50%;
}
.hover-content-second div:hover{
    border: 2px solid darkred;
}
.single-task:hover .hover-content{
    display: block;
}
.single-task-left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 12px;
}
.single-task-left p{
    font-weight: 500;
}
.single-task p{
    margin: 0;
}

.task-edit-button{
    color: #2BC48A;
}
.delete-task-button{
    color: #407093;
}

.selection-icon{
    border: 2px solid grey;
    width: 35px;
    height: 35px;
    display: none;
    justify-content: center;
    align-items: center;
    background: white;
    /* transition: all 0.2s ease; */
    border-radius: 50%;
    position: absolute;
    top: -20px;
    left: -10px;
}
.single-task:hover .selection-icon{
    display: flex;
}
.selection-icon:hover{
    background: darkcyan;
    color: white;
}
.selection-icon.selected{
    display: flex;
    background: darkcyan;
    color: white;
}
.check-icon{
    pointer-events:none;
}


/*---------------------------- check box button ----------------------*/
.containers {
    display: block;
    /* border: 2px solid; */
    width: 100%;
    position: relative;
    padding-left: 35px;
    margin-left: 7px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
  }
  
  /* Hide the browser's default checkbox */
  .containers input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 15px;
    border: 1px solid grey;
    
  }
  
  /* On mouse-over, add a grey background color */
  .containers:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .containers input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .containers input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .containers .checkmark:after {
    left: 10px;
    top: 5px;
    width: 5px;
    height: 13px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }