.single-task{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px ;
    border: 2px solid #ddd;
    border-radius: 5px;
    margin: 30px 0px;
    cursor: pointer;
    position: relative;
    min-height: 70px;
    transition: all 0.1s ease;
}
.single-task:hover{
    border: 2px solid rgba(0,0,0,0.6);
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.hover-content{
    position: absolute;
    top: -20px;
    right: 20px;
    display: flex;
    gap: 15px;
    /* display: none; */
}
.hover-content-second{
    display: flex;
    gap: 15px;
}
.hover-content-second div{
    position: relative;
    border: 2px solid grey;
    /* padding: 3px 10px; */
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    transition: all 0.2s ease;
    border-radius: 50%;

}
.hover-content-second div:hover{
    border: 2px solid darkred;
}
.single-task:hover .hover-content{
    display: block;
}
.single-task-left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 12px;
}
.single-task-left p{
    font-weight: 500;
}
.single-task p{
    margin: 0;
}