
.task-div{
    margin: 15px 10px;
}
.task-div h3{
    margin-top: 40px;
    color: #2BC48A;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
.single-task{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px ;
    border: 2px solid #ddd;
    border-radius: 5px;
    margin: 15px 0px;
}
.single-task-left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 12px;
}
.single-task-left p{
    font-weight: 500;
}
.single-task p{
    margin: 0;
}