

.catagory{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
}
.catagory-single{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 7px;
    cursor: pointer;
}

.catagory-single span{
    border: 2px solid #ddd;
    width:  30px;
    height: 30px;
    padding: 10px;
    display: block;
    border-radius: 10px;
    transition: all 0.2s ease;
}
.catagory-single span:hover{
    border: 2px solid grey;
    box-shadow: 2px 5px 5px rgba(0,0,0,0.5);
}
.catagory-single p{
    margin: 0;
    font-weight: 600;
    color: rgb(97, 95, 95);
}
.catagory-single span img{ 
    width: 100%;
}