
.header-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-div button{
    cursor: pointer;
}
.left-part button{
    width: 35px;
    height: 30px;
    background: none;
    border: 2px solid #ddd;
    transition: all 0.2s;
    color:  rgb(97, 95, 95);
    border-radius: 5px;
}
.left-part button:hover{
    border: 2px solid  rgb(97, 95, 95); 
}
.right-part span{
    /* border: 3px solid #ddd; */
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    overflow: hidden;
}
.right-part img{
    width: 100%;
}