
.header-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-div button{
    cursor: pointer;
}
.left-part button{
    width: 40px;
    height: 40px;
}
.right-part span{
    border: 3px solid #ddd;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}